{% extends 'students/dashboard.html' %}


{% block content %}
<table class="table caption-top">
  <caption>
    Uyga vazifa statusi
  </caption>
  <thead>
    <tr>
      <th scope="col">Mavzu</th>
      <th scope="col">Video</th>
      <th scope="col">Uyga vazifa holati</th>
      <th scope="col">Vazifa tugash vaqti</th>
      <th scope="col">Dars vaqti</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
{% endblock content %}