{% extends 'base.html' %}


{% block content %}
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for teams in teams %}
    <tr>
      <td>
        <p class="fw-normal mb-1">{{teams.name}}</p>
        <p class="text-muted mb-0">IT department</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">Active</span>
      </td>
      <td>Senior</td>
      <td>
        <a href="{% url 'users:students_by_team' teams.id %}" class="btn btn-link btn-sm btn-rounded">
          Show students
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}